[submodule "submodules/geoutils"]
	path = submodules/geoutils
	url = git@github.com:fstrnad/geoutils.git
[submodule "submodules/climnet"]
	path = submodules/climnet
	url = https://github.com/mlcs/climnet
